.introduction {
  flex: 1;
}

.signup {
  flex: 0.7;
  background-color: white;
  padding-left: 30px;
}

.navbar {
  display: flex;
  color: black;
  gap: 20px;
  font-weight: 500;
  padding: 20px;
  font-size: 16px;
  cursor: pointer;
}

.heading {
  margin-top: 50px;
  margin-left: 20px;
}

.heading span {
  color: #4cb7f5;
}

.paragraph {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 80px;
}

.authBar {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  padding: 20px;
  padding-bottom: 12.5px;
}

.authButtons {
  border-radius: 33px;
}
